---
import type { GlyphweaveContentIndex } from '@glyphweave/schema'

interface Props {
  posts: GlyphweaveContentIndex['posts']
  showDescription?: boolean
}

const { posts, showDescription = true } = Astro.props
---

<ol class="post-list">
  {posts.map((post) => (
    <li class="post-list__item">
      <time class="post-list__date" datetime={post.date}>{post.date}</time>
      <div class="post-list__entry">
        <h2><a href={`/posts/${post.slug}`}>{post.title}</a></h2>
        {showDescription && <p class="post-list__description">{post.description}</p>}
        <p class="post-list__byline">Glyphweave</p>
      </div>
    </li>
  ))}
</ol>
